@import '../../vars.css';

:root {
	/* assume base size of 16px, and 16px = 12pt, and widths / 100, so mult is 1/1200 */
	--font-scale: 1200 * 3.75;
	--border-size: 0.01em;
}

.busStopRenderWrapper {
	padding: 0.5em;
}

.indicators {
	margin-bottom: 0.2em;
	width: 4.57em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	& > .letterWrapper {
		border-radius: 100%;
		border: var(--border-size) solid black;
		display: flex;
		width: 2.5em;
		height: 2.5em;
		justify-content: center;
		align-items: center;
		color: var(--corporate-white);
		background: var(--corporate-red);
		& > .single {
			font-size: calc(623em / var(--font-scale));
		}
		& > .singleW {
			font-size: calc(551em / var(--font-scale));
		}
		& > .double {
			font-size: calc(400em / var(--font-scale));
		}
		& > .triple {
			font-size: calc(308em / var(--font-scale));
		}
	}

	& > .compassWrapper {
		border-radius: 100%;
		color: var(--bus-stop-dark-grey);
		background: var(--bus-stop-light-grey);
		width: 1.5em;
		height: 1.5em;
		display: flex;
		justify-content: center;
		align-items: center;
		& > .compass {
			font-size: calc(350em / var(--font-scale));
			line-height: 1.5em;
		}
	}
	& > .dirse {
		transform: rotate(45deg);
	}
	& > .dirs {
		transform: rotate(90deg);
	}
	& > .dirsw {
		transform: rotate(135deg);
	}
	& > .dirw {
		transform: rotate(180deg);
	}
	& > .dirnw {
		transform: rotate(225deg);
	}
	& > .dirn {
		transform: rotate(270deg);
	}
	& > .dirne {
		transform: rotate(315deg);
	}
}

.stopView {
	background: var(--corporate-white);
	border: var(--border-size) solid var(--corporate-black);
	color: var(--corporate-black);
	width: 4.57em;
	border-radius: 0.05em;
	overflow: hidden;
}

.logoPanel {
	background: var(--corporate-white);
	border-bottom: var(--border-size) solid var(--corporate-black);
	color: var(--corporate-white);
	height: 4em;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	& > .logoTitleBar {
		padding: 0.15em 2.2em;
		background: var(--corporate-red);
		font-size: calc(131em / var(--font-scale));
	}
	& > .logoRoundel {
		width: 3em;
		height: 3em;
		position: absolute;
		border: 0.5em solid var(--corporate-red);
		border-radius: 100%;
	}
}

.namePanel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--bus-stop-dark-grey);
	border-bottom: var(--border-size) solid var(--corporate-black);
	color: var(--corporate-white);
	height: 1.25em;
	& > .nameLine {
		font-size: calc(131em / var(--font-scale));
	}
	& > .nameSmallerLine {
		font-size: calc(94em / var(--font-scale));
	}
}

.towardsPanel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--bus-stop-light-grey);
	border-bottom: var(--border-size) solid var(--corporate-black);
	height: 1.25em;
	& > .towardsLine {
		font-size: calc(94em / var(--font-scale));
	}
	& > .towardsLargerLine {
		font-size: calc(131em / var(--font-scale));
	}
}

.eTileGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1px;
	& > a {
		& > .eTile {
			display: block;
			outline: var(--border-size) solid var(--corporate-black);
			background: var(--corporate-white);
			height: 1.25em;
			text-align: center;
			& > .eTileMessage {
				font-size: calc(51em / var(--font-scale));
				height: 0.235em;
				padding-top: 0.5em;
			}
			& > .eTileNumber {
				font-size: calc(170em / var(--font-scale));
				height: 0.525em;
				margin-top: 0.5em;
			}
		}
		& > .nightETile {
			background: var(--night-bus-blue);
		}
	}
}

.pointWrapper {
	transition: all 0.2s ease-in-out;
	&:not(:last-child) {
		border-bottom: 4px solid var(--corporate-blue);
		background: var(--default-faded-background);
	}
	padding-top: 50px;
	& > .pointHeader {
		margin-left: 20px;
		& > div {
			display: flex;
			align-items: baseline;
			justify-content: flex-start;
			gap: 10px;
			font-family: 'johnston100-light';
			& > h5 {
				font-size: 1.1em;
			}
			& > h6 {
				font-size: 0.7em;
			}
		}
		& > h4 {
			font-size: 1.6em;
		}
	}
	& > .tileRow {
		display: flex;
		margin-top: 10px;
		gap: 10px;
		overflow-x: auto;
		& > .tileWrapper {
			flex-basis: 1;
			/* border-radius: 4px; */
			transition: all 0.2s ease-in-out;
			border: 2px solid transparent;
			&:hover {
				border-color: var(--corporate-blue);
			}
			&.selectedTile {
				background: var(--corporate-blue);
				color: var(--corporate-white);
				opacity: 1;
				/* border-radius: 4px 4px 0 0; */
			}
			&:first-child {
				margin-left: 10px;
			}
		}
	}
}

.stopPointTile {
	padding: 8px;
	& > h5 {
		font-family: 'johnston100-light';
	}
	& > h3 {
		font-size: 1.1em;
		margin: 5px 0;
		white-space: nowrap;
	}
	& > h6 {
		font-family: 'johnston100-light';
		font-size: 0.8em;
	}
}
