@import '../../vars.css';

:root {
	/* assume base size of 16px, and 16px = 12pt, and widths / 100, so mult is 1/1200 */
	--font-scale: 1200 * 3.75;
	--border-size: 0.01em;
}

.busStopRenderWrapper {
	padding: 0.5em;
}

.indicators {
	margin-bottom: 0.2em;
	width: 4.57em;
	display: flex;
	justify-content: space-between;
	align-items: center;

	& > .compassWrapper {
		border-radius: 100%;
		color: var(--bus-stop-dark-grey);
		background: var(--bus-stop-light-grey);
		width: 1.5em;
		height: 1.5em;
		display: flex;
		justify-content: center;
		align-items: center;
		& > .compass {
			font-size: calc(350em / var(--font-scale));
			line-height: 1.5em;
		}
	}
	& > .dirse {
		transform: rotate(45deg);
	}
	& > .dirs {
		transform: rotate(90deg);
	}
	& > .dirsw {
		transform: rotate(135deg);
	}
	& > .dirw {
		transform: rotate(180deg);
	}
	& > .dirnw {
		transform: rotate(225deg);
	}
	& > .dirn {
		transform: rotate(270deg);
	}
	& > .dirne {
		transform: rotate(315deg);
	}
}

.letterWrapper {
	border-radius: 100%;
	display: flex;
	width: 2.5em;
	height: 2.5em;
	justify-content: center;
	align-items: center;
	color: var(--corporate-white);
	background: var(--corporate-red);
	& > .single {
		font-size: calc(623em / var(--font-scale));
	}
	& > .singleW {
		font-size: calc(551em / var(--font-scale));
	}
	& > .double {
		font-size: calc(400em / var(--font-scale));
	}
	& > .triple {
		font-size: calc(308em / var(--font-scale));
	}
}

.stopView {
	background: var(--corporate-white);
	border: var(--border-size) solid var(--corporate-black);
	color: var(--corporate-black);
	width: 4.57em;
	border-radius: 0.05em;
	overflow: hidden;
}

.logoPanel {
	background: var(--corporate-white);
	border-bottom: var(--border-size) solid var(--corporate-black);
	color: var(--corporate-white);
	height: 4em;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	& > .logoTitleBar {
		padding: 0.15em 2.2em;
		background: var(--corporate-red);
		font-size: calc(131em / var(--font-scale));
	}
	& > .logoRoundel {
		width: 3em;
		height: 3em;
		position: absolute;
		border: 0.5em solid var(--corporate-red);
		border-radius: 100%;
	}
}

.namePanel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--bus-stop-dark-grey);
	border-bottom: var(--border-size) solid var(--corporate-black);
	color: var(--corporate-white);
	height: 1.25em;
	& > .nameLine {
		font-size: calc(131em / var(--font-scale));
	}
	& > .nameSmallerLine {
		font-size: calc(94em / var(--font-scale));
	}
}

.towardsPanel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--bus-stop-light-grey);
	border-bottom: var(--border-size) solid var(--corporate-black);
	height: 1.25em;
	& > .towardsLine {
		font-size: calc(94em / var(--font-scale));
	}
	& > .towardsLargerLine {
		font-size: calc(131em / var(--font-scale));
	}
}

.eTileGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-bottom: var(--border-size) solid var(--corporate-black);
	gap: 1px;
	& > a {
		& > .eTile {
			display: block;
			outline: var(--border-size) solid var(--corporate-black);
			background: var(--corporate-white);
			height: 1.25em;
			text-align: center;
			& > .eTileMessage {
				font-size: calc(51em / var(--font-scale));
				height: 0.235em;
				padding-top: 0.5em;
			}
			& > .eTileNumber {
				font-size: calc(170em / var(--font-scale));
				height: 0.525em;
				margin-top: 0.5em;
			}
		}
		& > .nightETile {
			background: var(--night-bus-blue);
		}
		& > .superloopETile {
			background: var(--superloop-bus-red);
			color: var(--corporate-white);
		}
	}
}

.superloopWrapper {
	background: var(--corporate-white);
	color: var(--corporate-red);
	height: 1.25em;
	display: flex;
	gap: 0.1em;
	justify-content: center;
	align-items: center;
	& > img {
		height: calc(170em / var(--font-scale));
	}
	& > span {
		font-size: calc(170em / var(--font-scale));
		letter-spacing: -0.03em;
	}
}

.pointWrapper {
	transition: all 0.2s ease-in-out;
	&:not(:last-child) {
		border-bottom: 4px solid var(--corporate-blue);
		background: var(--default-faded-background);
	}
	padding-top: 30px;
	& > .pointHeader {
		margin-left: 20px;
		& > div {
			display: flex;
			align-items: baseline;
			justify-content: flex-start;
			gap: 10px;
			font-family: 'johnston100-light';
			& > h5 {
				font-size: 1.1em;
			}
			& > h6 {
				font-size: 0.7em;
			}
		}
		& > h4 {
			font-size: 1.6em;
		}
	}
	& > h5 {
		margin: 20px 20px 0;
		font-size: 0.9em;
		font-family: 'johnston100-light';
	}
	& > .detailsRow {
		display: flex;
		gap: 5px;
		margin: 5px 12px 10px;
		overflow-x: auto;
		& > div {
			min-width: max-content;
			max-width: 350px;
			&:not(:last-child) {
				border-right: 1px solid var(--default-text);
			}
		}
	}
	& > .tileRow {
		display: flex;
		padding: 0 10px;
		gap: 10px;
		margin-top: 5px;
		overflow-x: auto;
		& > a {
			min-width: max-content;
			max-width: 350px;
			& > .tileWrapper {
				transition: all 0.2s ease-in-out;
				border: 2px solid transparent;
				height: 100%;
				background: var(--default-faded-background);
				&:hover {
					border-color: var(--corporate-blue);
				}
				&.selectedTile {
					background: var(--corporate-blue);
					color: var(--corporate-white);
					opacity: 1;
				}
			}
		}
	}
}

.stopPointTile {
	padding: 8px;
	& > h6 {
		font-family: 'johnston100-light';
	}
	& > .railLinesRow {
		& > span:not(.buses) {
			font-family: 'johnston100-light';
		}
		& > .southeastern {
			background: #389cff;
		}
		& > .thameslink {
			background: #ff5aa4;
		}
		& > .elizabeth {
			background: #6950a1;
		}
		& > .bakerloo {
			background: rgb(178, 99, 0);
		}
		& > .central {
			background: rgb(220, 36, 31);
		}
		& > .circle {
			background: rgb(255, 200, 10);
			color: var(--corporate-black);
		}
		& > .district {
			background: rgb(0, 125, 50);
		}
		& > .hammersmith-city {
			background: rgb(245, 137, 166);
			color: var(--corporate-black);
		}
		& > .metropolitan {
			background: rgb(155, 0, 88);
		}
		& > .northern {
			background: rgb(0, 0, 0);
			@media (prefers-color-scheme: dark) {
				border: 1px solid var(--corporate-white);
			}
		}
		& > .piccadilly {
			background: rgb(0, 25, 168);
		}
		& > .jubilee {
			background: rgb(131, 141, 147);
		}
		& > .victoria {
			background: rgb(3, 155, 229);
		}
		& > .waterloo-city {
			background: rgb(118, 208, 189);
		}
		& > .dlr {
			background: rgb(0, 175, 173);
		}
		& > .tram {
			background: rgb(118, 188, 33);
			color: var(--corporate-black);
		}
		& > .london-overground {
			background: rgb(250, 123, 5);
			color: var(--corporate-black);
		}
		& > .great-western-railway {
			background: #47640f;
		}
		& > .heathrow-express {
			background: #532e63;
		}
		& > .avanti-west-coast {
			background: #004354;
		}
		& > .west-midlands-trains {
			background: #ff8300;
			color: var(--corporate-black);
		}
		& > .east-midlands-railway {
			background: #713563;
		}
		& > .c2c {
			background: #b7007c;
		}
		& > .chiltern-railways {
			background: #00bfff;
		}
		& > .greater-anglia {
			background: #d70428;
		}
		& > .gatwick-express {
			background: #eb1e2d;
		}
		& > .southern {
			background: #8cc63e;
			color: var(--corporate-black);
		}
		& > .first-hull-trains {
			background: #de005c;
		}
		& > .grand-central {
			background: #1d1d1b;
			@media (prefers-color-scheme: dark) {
				border: 1px solid var(--corporate-white);
			}
		}
		& > .great-northern {
			background: #0f0d78;
			@media (prefers-color-scheme: dark) {
				border: 1px solid var(--corporate-white);
			}
		}
		& > .london-north-eastern-railway {
			background: #ce0e2d;
		}
		& > .lumo {
			background: #2b6ef5;
		}
		& > .south-western-railway {
			background: #24398c;
		}
	}
	& > .linesRow {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
		margin: 5px 0;
		& > span {
			padding: 0.05em 0.2em;
			border-radius: 2px;
			color: var(--corporate-white);
			background: var(--corporate-red);
		}
	}
	& > .titleRow {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 5px;
	}
}

.busStopTile {
	& > p {
		margin-top: 5px;
		font-family: 'johnston100-light';
	}
}

.zone {
	padding: 0 7px;
	font-family: 'johnston100-light';
}
