@import '../../vars.css';

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	min-height: 100vh;
	width: 100%;
}

.header {
	background: var(--corporate-blue);
	color: var(--corporate-white);
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
	& > a > h1 {
		font-weight: var(--default-bold-text-weight);
		font-size: 2em;
	}
	& > :last-child {
		flex: 1;
	}
	& * {
		outline-color: var(--safety-green-lighter);
	}
	box-shadow: var(--md-ele-4);
	@media (width <= 1000px) {
		padding: 20px 10px 10px;
		display: block;
		text-align: center;
		& > a > h1 {
			margin-bottom: 20px;
		}
	}
}

.skip {
	position: absolute;
	top: 10px;
	left: -10000px;
	background-color: var(--corporate-blue);
	padding: 10px 20px;
	&:focus {
		left: 10px;
	}
}

.main {
	flex: 1;
	box-shadow: var(--md-ele-8);
}

.footer {
	margin-top: 20px;
	background: var(--corporate-blue);
	color: var(--corporate-white);
	font-weight: var(--default-text-weight);
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	gap: 10px;
	align-items: center;
	& > button {
		background: var(--corporate-blue);
		padding: 0;
		&:hover {
			text-decoration: underline;
		}
	}
	& > div {
		font-size: 0.8em;
		& > p {
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}
}
