@import '../../vars.css';

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	min-height: 100vh;
	width: 100%;
}

.header {
	background: var(--corporate-blue);
	color: var(--corporate-white);
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
	& > a > h1 {
		font-weight: var(--default-bold-text-weight);
		font-size: 2em;
	}
	& > :last-child {
		flex: 1;
	}
	box-shadow: var(--md-ele-4);
	@media (width <= 1000px) {
		padding: 20px 10px 10px;
		display: block;
		text-align: center;
		& > a > h1 {
			margin-bottom: 20px;
		}
	}
}

.main {
	flex: 1;
	box-shadow: var(--md-ele-8);
}

.nothingWrapper {
	margin-top: 100px;
	text-align: center;
	& > span {
		& > svg {
			width: 7em;
			height: 7em;
			& > path {
				stroke: var(--default-faded-background);
				stroke-width: 2;
			}
		}
	}
}

.footer {
	margin-top: 20px;
	background: var(--corporate-blue);
	color: var(--corporate-white);
	font-weight: var(--default-text-weight);
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	gap: 20px;
	align-items: center;
	& > button {
		background: var(--corporate-blue);
		transition: all 0.2s ease-in-out;
		border: 1px solid var(--corporate-white);
		&:hover {
			background: var(--corporate-white);
			color: var(--corporate-black);
		}
	}
	& > div {
		font-size: 0.8em;
		& > p {
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}
}
