@import '../../vars.css';

.wrapper {
	color: var(--corporate-white);
	max-width: 1000px;
	margin: 0 auto;
	& > .searchBox {
		display: flex;
		& > input {
			background: var(--corporate-white);
			color: var(--corporate-black);
			padding: 10px 20px;
			border-radius: 4px;
			flex: 1;
			font-weight: var(--default-text-weight);
		}
		& > button {
			margin-left: 10px;
			background: var(--corporate-white);
			color: var(--corporate-black);
		}
	}
	& > .matchedLines {
		margin-top: 10px;
		display: flex;
		gap: 5px;
		flex-wrap: wrap;
		& > li {
			& > a {
				& > h4 {
					transition: all 0.2s ease-in-out;
					padding: 5px 10px;
					border-radius: 4px;
					background: var(--corporate-red);
					color: var(--corporate-white);
					font-size: 1.2em;
				}
				&:hover {
					& > h4 {
						background: var(--corporate-white);
						color: var(--corporate-red);
					}
				}
			}
		}
	}
	& > .searchResults {
		margin-top: 10px;
		& > li {
			margin-bottom: 10px;
			& > a {
				display: flex;
				justify-content: space-between;
				align-items: center;
				text-align: left;
				gap: 20px;
				border: 1px solid var(--corporate-white);
				border-radius: 4px;
				padding: 8px 20px;
				& > h4 {
					font-size: 1.2em;
				}
				& > h6 {
					font-weight: var(--default-text-weight);
					color: var(--bus-stop-light-grey);
					font-size: 0.7em;
				}
				&:hover {
					background: var(--corporate-white);
					color: var(--corporate-blue);
					& > h6 {
						color: var(--bus-stop-dark-grey);
					}
				}
			}
		}
	}
}
