@import '../../vars.css';

.wrapper {
	color: var(--corporate-white);
	max-width: 1000px;
	margin: 0 auto;
	& > .searchBox {
		display: flex;
		& > input {
			background: var(--corporate-white);
			color: var(--corporate-black);
			padding: 10px 20px;
			border-radius: 4px;
			flex: 1;
			font-weight: var(--default-text-weight);
			outline-offset: 3px;
		}
		& > button {
			margin-left: 10px;
			background: var(--corporate-white);
			color: var(--corporate-black);
		}
	}
	& > .matchedLines {
		margin-top: 10px;
		display: flex;
		gap: 5px;
		flex-wrap: wrap;
		& > li {
			& > a {
				& > h4 {
					transition: all 0.2s ease-in-out;
					padding: 5px 10px;
					border-radius: 4px;
					background: var(--corporate-red);
					color: var(--corporate-white);
					font-size: 1.2em;
				}
				&:hover {
					& > h4 {
						background: var(--corporate-white);
						color: var(--corporate-red);
					}
				}
			}
		}
	}
	& > .searchResults {
		margin-top: 10px;
		& > li {
			&:not(:first-child) > a {
				border-top: 1px solid var(--corporate-white);
			}
			&:first-child > a {
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
			}
			&:last-child > a {
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
			}
			& > a {
				display: flex;
				justify-content: space-between;
				align-items: center;
				text-align: left;
				gap: 20px;
				padding: 10px;
				& > div {
					display: flex;
					align-items: center;
					gap: 10px;
					& > h4 {
						font-size: 1.1em;
					}
					& > h5 {
						font-weight: var(--default-text-weight);
						font-size: 0.8em;
					}
				}
				& > span {
					font-weight: var(--default-text-weight);
					color: var(--bus-stop-light-grey);
					font-size: 0.7em;
				}
				&:hover,
				&:focus {
					background: var(--corporate-white);
					color: var(--corporate-blue);
					& > span {
						color: var(--bus-stop-dark-grey);
					}
				}
			}
		}
	}
	& > button {
		margin-top: 5px;
		background: var(--corporate-white);
		color: var(--corporate-black);
	}
}
