:root {
	--corporate-red: rgb(216, 48, 31);
	--corporate-red-t: 216 48 31;
	--corporate-black: rgb(25, 26, 27);
	--bus-stop-dark-grey: rgb(95, 99, 102);
	--bus-stop-light-grey: rgb(222, 220, 210);
	--corporate-white: rgb(241, 239, 235);
	--corporate-blue: rgb(0, 71, 134);
	--night-bus-blue: rgb(195, 216, 237);
	--superloop-bus-red: rgb(211, 0, 49);

	@media (prefers-color-scheme: light) {
		--default-text: var(--corporate-black);
		--default-background: var(--corporate-white);
		--default-faded-background: var(--bus-stop-light-grey);
	}

	@media (prefers-color-scheme: dark) {
		--default-text: var(--corporate-white);
		--default-background: var(--corporate-black);
		--default-faded-background: var(--bus-stop-dark-grey);
	}
}
